html,body {
    height: 100%;
}
.container#page {
    background: rgba(250,250,250,0.9);
    min-height: 100%;
    padding-top: 0px;
}
.push-top {
    display: block;
    overflow: hidden;
    position: relative;
    height: 60px;
}
.container-inner {
    dispaly: block;
    position: relative;
    margin: 0px 50px;
}
.elephant {
    padding-top: 100px;
}